body {
    background-attachment: fixed;
    background: #dff9fb;
}

div {
    display: block;
}

.main {
    max-width: 300px;
    height: 600px;
    max-height: 600px;
    border: 0px solid #eee;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 1px 1px 5px 5px #ffbcc263;
    -moz-box-shadow: 1px 1px 5px 5px #ffbcc263;
    border-radius: 5px;
}

.main img {
    width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 5px 5px 0 0;
}

.logo {
    float: left;
    line-height: 100px;
    margin-left: 20px;
}

.content {
    line-height: 80px;
    /* margin: 0 auto; */
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}
/*  进度条 */

#myProgress {
    width: 100%;
    background-color: #ddd;
}

#myBar {
    width: 0%;
    height: 10px;
    /* background-color: rgb(255, 58, 117); */
    background-color: rgb(119,201,214);
    text-align: center;
    line-height: 30px;
    color: white;
}

.Augenstern a {
    margin: 0 auto;
    width: 200px;
    display: block;
}

.footer {
    /* text-decoration: none; */
    text-align: center;
    line-height: 60px;
}

.newurl {
    text-align: center;
    margin: 20px auto;
}

.footer a,
.footer a:hover,
.footer a:active,
.footer a:link,
.footer a:visited {
    color: #000;
    text-decoration: none;
}